{{ define "main" }}

    <div class="flex flex-col justify-center items-center h-screen max-w-screen-sm m-auto">
        <div class="text-6xl font-display">
            ___a hospitality-centric approach to creating  kickass websites that live up  _______to your brand.
        </div>
        <p class="text-base text-justify mt-3 mb-12 max-w-md">The SF-based design practice of Anand Upender, helping your teams create kickass brands, websites, and strategy.</p>
        <!-- <h4>☞ tycadesign.com</h4>
        <h4>☞ @tyca.design</h4> -->
    </div>

{{ end }}