{{ define "main" }}

<div id="canvas"></div>

<div class="flex flex-col justify-center items-center m-auto mt-12">
  <section>
    <div class="flex flex-col items-center" id="rotate-container">
      <h1 class="text-5xl md:text-8xl ml-8">Thank You</h1>
      <h1 class="text-5xl md:text-8xl" id="come-again">Come Again</h1>
    </div>
    <p
      class="text-xl text-center m-auto mt-8 mb-20 max-w-md z-20 relative"
    >
      Thank You Come Again is the San Francisco - based design practice of
      <span class="anand-image">Anand Upender </span> .
    </p>
  </section>

  <section>
    <h1 class="mb-6 mt-8 text-2xl">Clients</h1>
    <div
      class="inline-grid grid-rows-1 grid-cols-2 md:grid-cols-6 gap-12 w-auto items-center"
    >
      <img
        class="w-24 mb-6 object-contain grayscale"
        src="/img/lacocina.png"
        alt=""
      />
      <img
        class="w-24 mb-6 object-contain grayscale"
        src="/img/ted.png"
        alt=""
      />
      <img
        class="w-24 mb-6 object-contain grayscale"
        src="/img/dschool.png"
        alt=""
      />
      <img
        class="w-24 mb-6 object-contain grayscale"
        src="/img/ysc.png"
        alt=""
      />
      <img
        class="w-24 mb-6 object-contain grayscale"
        src="/img/ideo.png"
        alt=""
      />
      <img
        class="w-24 mb-6 object-contain grayscale"
        src="/img/jsf.png"
        alt=""
      />
    </div>
  </section>

  <section
    class="my-36 max-w-screen-lg grid grid-cols-1 md:grid-cols-2 gap-6"
    data-aos="fade-up"
  >
    <div class="text-4xl md:text-5xl m-auto text-center leading-tight md:leading-tight">
      TYCA is like an <br />
      <span class="font-bold border-4 border-black px-2 bg-white"
        >In-House Design Team</span
      >
      for your next big idea.
    </div>
    <div class="text-2xl m-auto text-center">
      It’s tough to brainstorm, plan, and launch new initiatives all while running your business. TYCA is your on-the-ground partner and creative director. No lifeless decks, just usable artifacts. 
      <br/><br/>
      We translate your dreams and goals into
      <span class="bold"
        >early-stage strategies, prototypes, visually compelling brands, events, and websites</span>to brighten your business.
    </div>
  </section>

  <section
    class="mb-16 md:mb-0 h-96 md:h-screen overflow-hidden"
    id="gallerySwap"
  >
    <img
      class="w-11/12 object-cover m-auto max-w-screen-md"
      src="/img/gallery/1.jpg"
      alt=""
    />
    <img
      class="w-11/12 object-cover m-auto max-w-screen-md hidden"
      src="/img/gallery/2.jpg"
      alt=""
    />
    <img
      class="w-11/12 object-cover m-auto max-w-screen-md hidden"
      src="/img/gallery/3.jpg"
      alt=""
    />
    <img
      class="w-11/12 object-cover m-auto max-w-screen-md hidden"
      src="/img/gallery/4.jpg"
      alt=""
    />
    <img
      class="w-11/12 object-cover m-auto max-w-screen-md hidden"
      src="/img/gallery/5.jpg"
      alt=""
    />
    <img
      class="w-11/12 object-cover m-auto max-w-screen-md hidden"
      src="/img/gallery/6.jpg"
      alt=""
    />
    <img
      class="w-11/12 object-cover m-auto max-w-screen-md hidden"
      src="/img/gallery/7.jpg"
      alt=""
    />
    <img
      class="w-11/12 object-cover m-auto max-w-screen-md hidden"
      src="/img/gallery/8.jpg"
      alt=""
    />
  </section>

  <section class="max-w-screen-md mb-36" data-aos="fade-up">
    <h1 class="mb-4 text-2xl">Past Challenges</h1>
    <ul>
      <li class="text-3xl mb-8">
        We supported women of color restauranteurs in managing their
        complex technology sales stacks.
      </li>
      <li class="text-3xl mb-8">
        We helped a journalism organization build a social platform that could
        save the business model of local news.
      </li>
      <li class="text-3xl mb-8">
        We created a flashy yet inclusive brand and website for a SF food popup.
      </li>
    </ul>
  </section>

  <section class="max-w-screen-md mb-24" data-aos="fade-up">
    <h1 class="mb-4 text-5xl w-full text-center">
      Ready to start building?!
    </h1>
    <button id="emailCopy" class="p-4 bg-black text-white w-full mt-8 text-2xl">
      <h1>Send us an email</h1>
    </button>
  </section>

  <section class="mb-24">
    <div class="m-auto flex flex-row justify-center items-center mt-4">
      <div class="relative" style="width:160px;height:160px;">
        <img class="absolute" style="width:48px; top:62px; left:57px" src="/img/check.svg" alt="" srcset="">
        <img class="absolute object-cover rotate360" src="/img/CheckText.png" alt="" srcset="">
      </div>
      <div class="text-md md:text-xl max-w-sm flex-1">We work hard to create affordable options for <span class="bold">restaurant owners, nonprofits, and minority-owned businesses</span>.</div>
    </div>
  </section>
</div>

<style>
  #rotate-container {
    transform-style: preserve-3d;
    transform-origin: center;
    animation: rotateSwing 1750ms ease-in-out infinite alternate;
  }
  #rotate-container h1 {
    /* background-color: black;
            color: white; */
    background-color: white;
    border: 6px solid black;
    padding: 8px;
  }
  #come-again {
    transform: rotateX(90deg);
  }

  @keyframes rotateSwing {
    0% {
      transform: rotateX(0deg) rotateZ(-10deg);
    }
    25% {
      transform: rotateX(0deg) rotateZ(-10deg);
    }
    75% {
      transform: rotateX(-90deg) rotateZ(-10deg);
    }
    100% {
      transform: rotateX(-90deg) rotateZ(-10deg);
    }
  }
</style>
<script src="/js/pixels.js"></script>

{{ end }}
